{% extends "base.html" %} 

{% block content %}

    <section class="mb-6">
        <h2 class="text-xl mb-2">About</h2>
        <p>This is an application designed to view data about the HHS Unaccompanied Children Program.</p>
    </section>

    <section>
        <h2 class="text-xl mb-2">About the Data</h2>
        <ul class="list-disc pl-5">
            <li>This data represents unaccompanied children who are taken into custody by Customs and Border Protection brought to a facility and processed for transfer to the Department of Health and Human Services (HHS) as required by law.</li>
            <li>HHS: Department of Health and Human Services</li>
            <li>HHS holds the child for testing and quarantine, and shelters the child until the child is placed with a sponsor here in the United States.</li>
        </ul>
    </section>



{% endblock %}